* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typo */
body {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-weight: 400;
    font-size: 16px;
}


/* typo modifier */
.txt--under {
    text-decoration: underline;
}

/* / typo modifier */
/* typo */

/* mix */
#root {
    height: 100vh;
    background: linear-gradient(to top, #DBDBD2 85%, #009688 15%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: #fff;
    width: 75%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
}

.circle--small {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 10px;
}

.circle--big {
    height: 60px;
    width: 60px;
}

input:focus,
button:focus {
    outline: none;
}


/* btn  */
.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.btn--light {
    color: #B1B1B1;
}

.btn--dark {
    color: #6B7376; 
}

/* /btn  */

/* modifier */

/* modifier */


/* header */
header {
    background-color: #eaeaea;
    flex-basis: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

header .avatar {
    object-fit: cover;
}

.header__left,
.header__right {
   display: flex;
   align-items: center;
}

.header__right i {
    margin-right: 15px;
    font-size: 20px;
    color: #B1B1B1;
}

aside .header__right {
   border-right: 1px solid #B1B1B1;
}
/* header */

/* aside */
aside {
    background-color: #fff;
    flex-basis: 40%;
    height: calc(100% - 70px);
}

/* notifications */
.notifications {
    background-color: #8EDAFC;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.notifications i {
    color: #8EDAFC;
    background-color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}
/* / notifications */

/* searchbar */
.searchbar__wrp {
    background-color: #F3EEEA;
    padding: 7px;
    display: flex;
}

.searchbar__wrp > * {
    border: 1px solid #e9ebeb;
    background-color: #fff;
}

#searchbutton {
    padding: 10px 30px;
}

#searchbar {
    flex-grow: 1;
    padding: 10px;
}




/* /searchbar */


/* contact  */

/* / contact */



main {
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
}





/* /mix */
