<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- google font  -->
    <link rel="preceivedonnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- / google font  -->

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- / fontawesome -->

    <!-- style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- / style -->

    <!-- day.js -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>
    <!-- day.js -->

    <!-- vue js  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- / vue js  -->


    <!-- favicon -->

    <!-- /favicon -->
</head>
<body>
    <div id="root">
        <div class="wrapper">
            <aside>
                <header class="navbar">
                    <div class="header__left">
                        <img src="img/avatar_io.jpg" alt="my avatar" class="avatar circle--small">
                        <h2>Caterina Bertotti</h2>
                    </div>
                    <div class="header__right">
                        <button class="btn btn--light"><i class="fas fa-circle-notch"></i></button>
                        <button class="btn btn--light"><i class="fas fa-comment-alt"></i></button>
                        <button class="btn btn--light"><i class="fas fa-ellipsis-v"></i></button>
                    </div>
                </header>
                <div class="aside__bottom">
                    <div class="notifications">
                        <i class="fas fa-bell-slash circle--small"></i>
                        <div>
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <button class="btn btn--dark txt--under">Attiva notifiche desktop</button> 
                        </div>
                    </div>
                    <div class="searchbar__wrp">
                        <div class="search">
                            <button class="btn btn--light" id="search__button"><i class="fas fa-search"></i></button>
                            <input type="text" name="" id="search__bar" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                    <div class="contact__wrapper">
                        <ul>
                            <li v-for="(item, index) in contacts" class="contact" @click="activeChat(item, index)" :class=" activeContact == index ? 'active' : '' ">
                                <img class="circle--big" :src="'img/avatar' + item.avatar + '.jpg'" alt="">
                                <h3>{{ item.name }}</h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            
            <main>
                <header class="navbar">
                    <div class="header__left">
                        <img :src="'img/avatar' + contacts[activeContact].avatar + '.jpg'" alt="my avatar" class="avatar circle--small">
                        <h2> {{ contacts[activeContact].name }} </h2>
                    </div>
                    <div class="header__right">
                        <button class="btn btn--light"><i class="fas fa-circle-notch"></i></button>
                        <button class="btn btn--light"><i class="fas fa-comment-alt"></i></button>
                        <button class="btn btn--light"><i class="fas fa-ellipsis-v"></i></button>
                    </div>
                </header>
                <div id="main__middle">
                    <div class="msg__wrapper">
                        <div v-for="message in contacts[activeContact]" class="msg" >
                            <p class="msg__txt">{{ message }}</p>
                            <p class="msg__date">10/01/2020 15:30:55</p>
                        </div>  
                    </div>
                </div>
                <div class="navbar main__bottom">
                    <button class="btn btn--dark"><i class="far fa-smile"></i></button>
                    <input type="text" id="message" placeholder="Scrivi un messaggio">
                    <button class="btn btn--dark"><i class="fas fa-microphone"></i></button>
                </div>
            </main>
        </div>
    </div>

    <!-- script -->
    <script src="js/script.js"></script>
    <!-- /script -->
</body>
</html>